{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/all.css' %}">
    <title>DiDi | {{title}}</title>
</head>
<body>
    <div class="container">
        <header class="header_mini_nav">
            <div class="mini_nav_wrapper">
                <nav class="mini_navigation">
                    <ul class="mini_nav_list">
                        <li class="mini_nav_links"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="mini_nav_links"><a href="{% url 'cart_details' %}">Желаемое</a></li>
                        <li class="mini_nav_links"><a href="{% url 'exit' %}">Выйти</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <article class="user_account">
            {% for item in o_item %}
            <div class="user_account_wrapper">
                <div class="user">
                    <div class="user_info">
                        <p>Название: {{ item.book.name}}</p>
                        <p>Цена: {{ item.book.price }}</p>
                        <p>Кол-во копленных документов: {{ item.quantity}}</p>
                        <p>Общая сумма:{{ item.book.price}}</p>
                    </div>

                </div>
            </div>
{% endfor %}

        </article>
    </div>
    <script src="{% static 'DiDiStoreApp/js/animation.js' %}"></script>
</body>
</html>