{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление книги</title>
    <link rel="stylesheet" href="{% static 'DiDiStoreApp/styles/register.css' %}">
</head>
<body>
<form method="POST" class='form' enctype="multipart/form-data">
     {% csrf_token %}
  <div class='control'>
    <h1>
      Добавление Книги
    </h1>
  </div>
    {{ form.as_p }}
     <button class='btn block-cube block-cube-hover' type='submit'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
      Добавить Книгу
    </div>
  </button>
<button class='btn block-cube block-cube-hover' type='submit'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
    <a href="{% url 'teacher_category' %}">Добавить категорию</a>
    </div>
  </button>
    <button class='btn block-cube block-cube-hover' type='submit'>
    <div class='bg-top'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg-right'>
      <div class='bg-inner'></div>
    </div>
    <div class='bg'>
      <div class='bg-inner'></div>
    </div>
    <div class='text'>
    <a href="{% url 'teacher_addauthor' %}">Добавить автора</a>
    </div>
  </button>
</form>

</body>
</html>