{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Table 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'DiDiStoreApp/css/style.css' %}">

	</head>
	<body>

	<section class="ftco-section">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Отчёт по Дипломам</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">

						<table class="table table-bordered table-dark table-hover">
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>ФИО</th>
						      <th>Название</th>
						      <th>Категория</th>
						      <th>Дата Cозданий</th>
						      <th>Дата последней изменений </th>
						      <th>Тип </th>
						    </tr>
						  </thead>
                            {% for j in thesis %}
						  <tbody>
						    <tr>
						      <th scope="row">{{ j.id }}</th>
						      <td>{{ j.student.first_name }} {{ j.student.last_name }}</td>
						      <td>{{ j.name }}</td>
						      <td>{{ j.category }}</td>
						      <td>{{ j.created_at }}</td>
						      <td>{{ j.updated_at }}</td>
						      <td>{{ j.type }}</td>
						    </tr>
						  </tbody>
			{% endfor %}
						</table>
					</div>

				</div>

			</div>
		</div>
	</section>

	<script src="{% static 'DiDiStoreApp/js/jquery.min.js'%}"></script>
  <script src="{% static 'DiDiStoreApp/js/popper.js'%}"></script>
  <script src="{% static 'DiDiStoreApp/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'DiDiStoreApp/js/main.js'%}"></script>

	</body>
</html>

